@font-face {
    font-family: Slick;
    src: url("fonts/ITC-Avant-Garde-Gothic-Pro.ttf");
}

@font-face {
    font-family: Inconsolata;
    src: url("fonts/Inconsolata-Regular.otf");
}

@font-face {
  font-family: Inter;
  src: url("fonts/AzeretMono-VariableFont_wght.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: DMSerif;
  src: url("fonts/DMSerifText-Regular.ttf");
}

@font-face {
  font-family: Monsterrat;
  src: url("fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: DMSans;
  src: url("fonts/DMSans-VariableFont.ttf");
}